<div class="login-page">
  <h2>LOGIN</h2>

  <form class="login-form" action='/auth/login' method='POST'>
    <div class="inputs">
      <label for=''>Email</label>
      <input type='text' name='email' required placeholder="Email">
    </div>
    <div class="inputs">
      <label for=''>Password</label>
      <input type='password' name='password' placeholder="Password">
    </div>
    <div class="inputs">
      <button type='submit' class="filter-btn">Submit</button>
    </div>
  </form>

  {{!-- Error message display --}}
  {{#if errorMessage}}
    <div class="error-message"> {{errorMessage}} </div>
  {{/if}}
</div>


{{!-- style="margin-top: 70px; margin-left: 120px;" --}}