<div class="user-signup">
  <h2>Sign Up</h2>

  <form id="form" action='/auth/user-signup' method='POST'  enctype="multipart/form-data" class="user-signup-form">
    <div class="inputs">
      <label for=''>Name</label>
      <input type='text' name='name' placeholder="Name">
    </div>
    <div class="inputs">
      <label for=''>Email</label>
      <input type='text' name='email'placeholder="Email">
    </div>
    <div class="inputs">
      <label for=''>Password</label>
      <input type='password' name='password' placeholder="Password">
    </div>

    <select type='select' name='role' style="margin-top: 30px;">
      <option disable selected value="">Select a role</option>
      {{#each roles}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
    <br>
    <label>Image:</label>
    <br>
    <input type="file" name="imageUrl" class="select-file"/>
    <br>
    <button type='submit' class="filter-btn">Submit</button>
  </form>

  {{#if errorMessage}}
  <div class="error-message"> {{errorMessage}} </div>
  {{/if}}
</div>