<h2>Edit plan</h2>
<form action="/plan/edit-plan/{{_id}}" method="POST">

  <label for="">Title:</label>
  <input type="text" name="title" value="{{title}}"/>

  <label for="">Description:</label>
  <input type="text" name="description" value="{{description}}"/>

  <label>PDF File:
    <input type="file" name="imageUrl"/>
    <input type="text" name="existingPDF" value="{{imageUrl}}">
  </label>

  <button type="submit">Save changes</button>

</form>
