<div class="edit-plan">
  <h2>Edit plan</h2>
  <form action="/plan/edit-plan/{{plan._id}}" method="POST" class="edit-plan-form">
    <div class="inputs">
      <label for="">Title</label>
      <input type="text" name="title" value="{{plan.title}}"/>
    </div>
    <div class="inputs">
      <label for="">Description</label>
      <input type="text" name="description" value="{{plan.description}}"/>
    </div>
    <div>
      <br>
      <label>
        <input type="file" name="imageUrl" class="select-file"/>
        <input type="text" name="existingPDF" value="{{plan.imageUrl}}">
      </label>
    </div>
    <button type="submit" class="filter-btn" style="margin-top: 50px;">Save changes</button>

  </form>
</div>