<h1>Hi</h1>


<p>Click "Choose File" button to upload a plan:</p>



<form action="/action_page.php" method="POST" enctype="multipart/form-data">
  <input type="file" id="myFile" name="filename">
  <input type="submit">
</form>