<div class="new-plan">
  <h2>Create a new plan</h2>
  <form action="/plan/new-plan" method="POST" enctype="multipart/form-data" class="new-plan-form">
    <div class="inputs">
      <label for="title">Title</label>
      <input type="text" name="title"><br>
    </div>
    <div class="inputs">
      <label>Description</label>
      <br>
      <textarea type="text" name="description" required placeholder="Describe your plan!" cols="40" rows="8" ></textarea>
    </div>
    <p>Click "Choose File" button to upload a plan</p>
    <input type="file" name="imageUrl" class="select-file">
    <br>
    <input type="submit" class="filter-btn" style="margin-top: 10px;">
  </form>
</div>