<h1>Hi</h1>


<p>Click "Choose File" button to upload a plan:</p>



<form action="/plan/new-plan" method="POST">
  <label for="title">Title:</label>
  <input type="text" name="title"><br>

  <label>Description: </label>
  <textarea type="text" name="description" required></textarea><br>


  <input type="file" id="myFile" name="filename"><br>
  <input type="submit">
</form>
