<div class="new-plan">
  <h2>Create a new plan</h2>


  <p>Click "Choose File" button to upload a plan:</p>



  <form action="/plan/new-plan" method="POST" enctype="multipart/form-data" class="new-plan-form">
    <div class="inputs">
      <label for="title">Title:</label>
      <input type="text" name="title"><br>
    </div>
    <br>
    <div>
      <label>Description: </label>
      <textarea type="text" name="description" required></textarea><br>
    </div>
    <br>
    <input type="file" name="imageUrl">
    <br>
    <input type="submit" class="filter-btn" style="margin-top: 30px;">
  </form>
</div>