<h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker!</p>
<a href="/auth/login"><button>Log in</button></a>
<a href="/auth/user-signup"><button>User Sign up</button></a>
<a href="/auth/professional-signup"><button>Professional Sign up</button></a>