<section class="everything-layout">
    <h1>PROPERFORMANCE</h1>
    <div class="about-intro">
        <h3>Nutrition and Performance Solutions</h3>
        <p>Premium platform for Athletes, Trainers and Dietitians to access and share resources, customisable for your unique requirements. Sign up for free:</p>
        <div>
            <a href="/auth/professional-signup"><button class="filter-btn">Professional</button></a>
            <a href="/auth/user-signup"><button class="filter-btn">Athlete</button></a>
        </div>
    </div>
    <div class="sports-intro">
        <h3>Sports</h3>
        <p>PROperformance specialises in combining training and nutrition resources to optimise swimming, Crossfit and running performance. Join hundreds of Dietians and Trainers and thousands of athletes who use PROperformance to achieve their goals.
        </p>
        <a href="/all-sports"><button class="filter-btn">See Sports</button></a>
    </div>
    <div class="professionals-intro">
        <h3>Professionals</h3>
        <p>Experts in their fields, our Trainers and Dietitians are here to support you in pushing your boundaries and empowering better outcomes in health and performance. PROperformance allows you to rate and filter professionals to ensure the highest standards and best resources.</p>
        <a href="/site/all-professionals"><button class="filter-btn">See Professionals</button></a>
    </div>
</section>