<section class="everything-layout">
    <h1>PROPERFORMANCE</h1>
    <div class="about-intro">
        <h3>Nutrition and Performance Solutions</h3>
        <p>Premium platform for Athletes, Trainers and Dietitians to access and share resources, customisable for your unique requirements. Sign up for free:</p>
        <a href="/auth/professional-signup"><button>Professional</button></a>
        <a href="/auth/user-signup"><button>Athlete</button></a>
    </div>
    <div class="sports-intro">
        <h3>Sports</h3>
        <p>PROperformance specialises in combining training and nutrition resources to optimise <strong>swimming</strong>, <strong>Crossfit</strong> and <strong>running</strong> performance. Join hundreds of Dietians and Trainers and thousands of athletes who use PROperformance to achieve their goals.
        </p>
        <a href="/all-sports"><button>See Sports</button></a>
    </div>
    <div class="professionals-intro">
        <h3>Professionals</h3>
        <p>Experts in their fields, our Trainers and Dietitians are here to support <strong>you</strong> in pushing your boundaries and empowering better outcomes in health and performance. PROperformance allows you to rate and filter professionals to ensure the highest standards and best resources.</p>
        <a href="/site/all-professionals"><button>See Professionals</button></a>
    </div>
    <a href="/auth/logout"><button style="background: red">LOGOUT</button></a>
</section>