<section class="everything-layout">
    <h1>Properformance</h1>
    <div>
        <h3>Nutrition and Performance Solutions</h3>
        <p>Premium platform for Athletes, Trainers and Dietitians to access and share resources, customisable for your unique requirements. Sign up for free:</p>
        <a href="/auth/professional-signup"><button>Professional</button></a>
        <a href="/auth/user-signup"><button>Athlete</button></a>
    </div>
    <div>
        <h3>Sports</h3>
        <p>PROperformance specialises in combining training and nutrition resources to optimise <strong>swimming</strong>, <strong>Crossfit</strong> and <strong>running</strong> performance.
            Join hundreds of Dietians and Trainers and thousands of athletes who use PROperformance to achieve their goals.
        </p>
        <a href="/all-sports"><button>Professional</button></a>
    </div>
    <div>
        <h3>Professionals</h3>
        <p>Experts in their fields, our Trainers and Dietitians are here to support <strong>you</strong> in pushing your boundaries and empowering better outcomes in health and performance.PROperformance

        </p>
        <a href="/all-sports"><button>Professional</button></a>
    </div>


        Because only Azum combines efficient training 
        planning with individual athlete control. And combines training, nutrition and athlete management in one platform.

</section>



<a href="/auth/login"><button>Log in</button></a>
<a href="/auth/user-signup"><button>User Sign up</button></a>
<a href="/auth/professional-signup"><button>Professional Sign up</button></a>

<a href="/auth/logout"><button style="background: red">LOGOUT</button></a>