<nav>
    <a href="/" class="logo">PROperformance</a>
    <ul class="nav-ul">
        <li><a href="/">Home</a></li>
        <li><a href="'/auth/login'">Login</a></li>
        <li><a href="/site/profile/professional">Professional Profile</a></li>
        <li><a href="/site/profile/user">Athlete Profile</a></li>
    </ul>
</nav>




<h1>Properformance</h1>

<a href="/auth/login"><button>Log in</button></a>
<a href="/auth/user-signup"><button>User Sign up</button></a>
<a href="/auth/professional-signup"><button>Professional Sign up</button></a>

<a href="/auth/logout"><button style="background: red">LOGOUT</button></a>