<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>
   <body>
      <nav class='navbar'>
			<div class='navbar-pages'>
				<a href='/'><img src='../public/images/image.png' style="width: 120px; heigth: 40px"/></a>
				<a href='/'>Home</a>
				<a class='navbar-link' href='/site/all-professionals'>All Professionals</a>
				<a class='navbar-item' href='/site/all-sports'>All Sports</a>
			</div>
			<div class='buttons'>
				<a href='/auth/user-signup'><strong>Athletes</strong></a>
				<a href='/auth/professional-signup'><strong>Professionals</strong></a>
				<a href='/auth/login'>Log in</a>
				{{#if user.name}}
					<a href='/auth/logout'>Log out</a>
				{{/if}}
			</div>
		</nav>
		<main>
			{{{body}}}
		</main>
		<footer class='footer'>
			<h4><strong>Second Project </strong></h4>
			<p> by <a href='https://github.com/rnogales16'>Raul Nogales</a> and <a href='https://github.com/Miki-Geoghegan'>Miki Geoghegan</a>.<br>
			Made at <a href='https://www.ironhack.com/es/barcelona'> Ironhack Barcelona</a><br>
			&#128151
			</p>
		</footer>
      <script src="/js/script.js"></script>
   </body>

</html>