<div>

  <h2>Sports</h2>
  <div>
    <h3>Swim</h3>
    <p>Whether you are advanced or you just starting out, our dedicated team will help you improve your performance.</p>
    <p>With the help of our Dietitians and Trainers you will became more efficient, smoother and faster in every style. Whatever your objective, our lessons will be adapted and personalised to you to guarantee the best results in the shortest time.</p>
    <a href=""><button></button></a>
  </div>

  <div>
    <h3>Run</h3>
    <p>From marathons to sprints, explore our range of expert Trainers and Dietitians to help you achieve your true potential.</p>
    <div>
      <p>"With varied, comprehensive and structured training and nutrition plans, I have seen exponential improvement in speed and distance. With PROperformance, you will optimise your training and see incredible results!"</p>
      <img src="../..public/images/usain-bolt" alt="Usain Bolt">
    </div>
    <a href=""><button>more info</button></a>
  </div>

  <div>
    <h3>Crossfit</h3>
    <p>something</p>
    <a href=""><button>more info</button></a>
  </div>

</div>