<div>

  <h2>Sports</h2>
  <div>
    <h3>Swim</h3>
    <p>Whether you are advanced or you just starting out, our dedicated team will help you improve your performance.</p>
    <p>With the help of our Dietitians and Trainers you will became more efficient, smoother and faster in every style. Whatever your objective, our lessons will be adapted and personalised to you to guarantee the best results in the shortest time.</p>
    <a href="/swim"><button>more info</button></a>
  </div>

  <div>
    <h3>Run</h3>
    <p>From marathons to sprints, explore our range of expert Trainers and Dietitians to help you achieve your true potential.</p>
    <div>
      <p>"With varied, comprehensive and structured training and nutrition plans, I have seen exponential improvement in speed and distance. With PROperformance, you will optimise your training and see incredible results!"</p>
      <img src="../..public/images/usain-bolt" alt="Usain Bolt">
    </div>
    <a href="/run"><button>more info</button></a>
  </div>

  <div>
    <h3>CrossFit</h3>
    <p>We have designed the perfect plan for you to help you achieve your ideal body composition, be happy in your own skin and enjoy doing sport at the same time. Having fun is a central part of CrossFit and we have a range of diverse exercises to help keep things interesting.
      With PROperformance, you will have access to personal plans to help you increase your muscle mass and accelerate your methabolism. We ensure you do each exercise in the correct way to avoid injury and provide the optimal diet to reach your goals.</p>
    <a href="/crossfit"><button>more info</button></a>
  </div>
</div>