body {
  padding: 0px;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

/************ NAV *************/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #66e6d9;
  width: 98%;
  height: 90px;
  padding: 0 1%;
}

.navbar-pages{
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 3%;
}

.navbar-pages img{
  width: 200px;
  margin-right: 10px;
}

.navbar-pages a{
  color: #212121;
  text-decoration: none;
  font-size: 16px;
  padding: 0 3%;
}

.buttons{
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.buttons a{
  color: #212121;
  text-decoration: none;
  font-size: 16px;
  padding: 0 3%;
}

.burguer{
  background-color: green;
  display: none;
}



/************ LAYOUT *************/
.layout{
  display: flex;
	flex-direction: column;
	justify-content: space-between;
  min-height: 100vh;
}




/************ footer *************/

.footer{
  background-color: #e5fbf9;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 3%;
  height: 90px;
}

.footer a {
  color: #14b8a7;
  text-decoration: none;
  font-size: 16px;
}



@media (max-width: 810px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    width: 96%;
    height: 70px;
    padding: 0 2%;
  }
  .buttons{
    display: none;
  }

  .burguer{
    display: inline;
  }

}



/************ footer *************/
.main {
  padding: 0 4%;
}