body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}


.rating {
  width: 180px;
}

.rating__star {
  cursor: pointer;
  color: #dabd18b2;
}

.logo {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: red;
}

.nav-ul {
  list-style: none;
}

.nav-ul a {
  color: black;
  text-decoration: none;

}


