<h2>Your Profile</h2>

<p>Name: {{user.name}}</p>
<p>Email: {{user.email}}</p>
<p>Plans:</p>
<button><a href="/site/all-professionals">See Professionals</a></button>
<button><a href="/site/all-sports">See Sports</a></button>





<a href="/auth/logout"><button style="background: red">LOGOUT</button></a>
<button style="background: red" onclick="setLike()">LOGOUT</button>

<script>
  function setLike(event){
    axios.post('/plans/likes', {likedPlan: planId})
  }
</script>