<h2>Your Profile</h2>

<p>Name: {{user.name}}</p>
<p>Email: {{user.email}}</p>
<p>Plans:</p>
<a href="/site/all-professionals"><button>See Professionals</button></a>
<a href="/site/all-sports"><button>See Sports</button></a>


