<section>
    <div class="one-professional">
        <h3>{{user.name}} Profile</h3>
        <img class="professional-img" src="{{user.imageUrl}}" alt="{{user.name}}"/>
        <p>Email: {{user.email}}</p>
        <div>
            <a href="/site/all-professionals"><button class="filter-btn">See Professionals</button></a>
            <a href="/all-sports"><button class="filter-btn">See Sports</button></a>
        </div>
    </div>

</section>


